@charset "utf-8";
.topLogBox a:hover{color:#F5B834}
.w-nav li:hover > a,.w-nav  li:hover > .li-parent-div > a,.w-nav li.active > a,.w-nav li.active > .li-parent-div > a{color:#F5B834}
.w-nav .nav_simpline_cur{background:#F5B834}
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-next:hover{background-color:#F5B834 !important}
.banner .bx-wrapper .bx-prev:hover,.banner .bx-wrapper .bx-next:hover{background-color:rgba(0,0,0,0.2) !important}
.w-text a:hover{color:#F5B834}
.btn-default-w:hover,.btn-default-w:focus{background-color:#F5B834; border-color:#F5B834; color:#fff}
.w-form-submit .w-buttom .btn-default-w{background:#FFBC00; border-color:#FFBC00; color:#fff}
.w-form-submit .w-buttom .btn-default-w:hover{background:#F5B834; border-color:#F5B834}
.color_s_default{color:#a8a8a8}
.bg_s_default{background:#a8a8a8}
.w-service-fixed .color_s_default:hover{color:#F5B834}
.w-service-fixed .bg_s_default:hover{background:#F5B834}
.w-prd-list-cell a:hover{color:#F5B834}
.w-productList1 .w-prd-con:hover{background:#F5B834}
.w-productList1 .w-prd-list-cell .w-prd-con::after{background:#F5B834}
.color_main{color:#444}
.color_vice{color:#8f8f8f}
.aHovercolor_deepen:hover{color:#FFBC00}
.aHoverbg_deepen:hover{background-color:#FFBC00}
@media (min-width:961px){.w-nav .submenu li:hover > a,.w-nav .submenu  li:hover > .li-parent-div > a,.w-nav .submenu li.active > a,.w-nav .submenu li.active  >.li-parent-div > a{color:#F5B834}
}
@media (max-width:960px){.w-header{color:#333}
.topLogBox a:hover{color:#F5B834}
}
