@charset "utf-8";
.w-title{margin:20px 0 ; line-height:1.5}
.w-title  h2{font-weight:normal; margin:0}
.w-title .title-h-in > span{font-size:100%; font-family:"Times New Roman", Times, serif}
.aHoverbg_deepen:hover,.aHovercolor_deepen:hover{-webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s}
.w-title16{text-align:center; line-height:1.8}
.w-title16 h2{font-size:165%; line-height:1.8}
.w-title16 .title-h-in > span{font-size:130%}
.w-title20{position:relative}
.w-title20 .tith{text-align:left; display:inline-block; line-height:1.3; margin:0 0 -1px 0}
.w-title20 .tith span{font-size:24px}
.w-title20  h2{font-size:120%}
.w-productList{margin-left:-12px; margin-right:-12px}
.w-productList .w-prd-list-cell{margin-bottom:10px}
.w-productList .w-prd-list-cell .w-prd-list-cell-in{margin:0 12px}
.w-productList .w-prd-infobox h2{font-size:115%; line-height:1.5; margin:0; font-weight:normal; text-overflow: ellipsis; white-space: nowrap; word-break: keep-all; overflow: hidden}
.w-productList .w-prd-list-cell .w-prd-sum{line-height:1.3; font-size:95%; overflow:hidden}
.w-productList1 .w-prd-list-cell .w-prd-infobox{padding:0.7em 0}
.w-productList1 .w-prd-list-cell .w-prd-sum{max-height:3.9em}
.w-productList .imgScaleBig .img-count-in{overflow:hidden}
.w-productList .imgScaleBig:hover img{-webkit-transform: scale(1.12); -moz-transform: scale(1.12); -ms-transform: scale(1.12); -o-transform: scale(1.12); transform: scale(1.12); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s}
@media (max-width:960px){.w-productList{margin-left:-8px; margin-right:-8px}
.w-productList .w-prd-list-cell .w-prd-list-cell-in{margin:0 8px}
}
@media (max-width:767px){.w-text{min-height:0}
.w-productList{margin-left:-8px; margin-right:-8px}
.w-productList .w-prd-list-cell .w-prd-list-cell-in{margin:0 8px}
.w-productList1 .w-prd-list-cell{min-width:33.33%}
.w-productList1 .w-prd-list-cell .w-prd-sum{max-height:3.75em}
}
@media (max-width:520px){.w-productList1 .w-prd-list-cell{min-width:50%}
}
@media (max-width:480px){.w-title{margin:0.3rem 0}
.w-title h2{font-size:120%}
.w-title .title-h-in > span{font-size:87%}
.w-title16,.w-title16 h2{line-height:1.5}
.w-title20 .tith span{font-size:130%}
.w-title20 h2{font-size:105%}
.w-productList{margin-left:-0.5em; margin-right:-0.5em}
.w-productList .w-prd-list-cell{margin-bottom:0.3em}
.w-productList .w-prd-list-cell .w-prd-list-cell-in{margin:0 0.5em}
}
